/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'Proxima-Nova';
	src: url('../fonts/fontspring-demo-proximanova-bold-webfont.woff') format('woff2'),
			 url('../fonts/fontspring-demo-proximanova-bold-webfont.woff2') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima-Nova';
	src: url('../fonts/fontspring-demo-proximanova-boldit-webfont.woff') format('woff2'),
			 url('../fonts/fontspring-demo-proximanova-boldit-webfont.woff2') format('woff');
	font-weight: bold;
	font-style: italic;
}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Light mode */
:root {
	--color-text:#cf082c;
	--color-background:#eee;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-text:#cf082c;
		--color-background:rgb(26, 26, 26);
	}
}

/****************/
/* JOUW STYLING */
/****************/
body {
  color:var(--color-text);
  background-color:var(--color-background);
	font-family: Proxima-Nova, sans-serif;
	justify-self:center;
  align-self:center;
	text-align: center;
}

h1{
	font-style: italic;
	margin-top: .5em;
	margin-bottom: .2em;
	margin-left: .6em;
	font-size: 12em;
	position:relative;
  display:flex;
	flex-direction: column;
	z-index: 99;
}

h1 span:nth-of-type(1){
	animation-name: balancen;
	animation-fill-mode: forwards;
	display: inline-block;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

h1 span:nth-of-type(2){
	animation-name: balanceb;
	animation-fill-mode: forwards;
	display: inline-block;
	margin-top: -.15em;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

h1::after{
	content: '';
	clip-path: polygon(0 0, 100% 10%, 0 25%, 95% 35%, 0 50%, 90% 60%, 0 75%, 85% 85%, 0 100%);
	width: 160px;
	height: 120px;
	background-color: var(--color-background);
	margin-right: 3em;
	margin-top: -.06em;
	align-self: center;
	animation: slide-background;
	animation-fill-mode: forwards;
	animation-duration: 5s;
	animation-delay: 7.5s;
	animation-iteration-count: 1;
}

h2{
	font-style: normal;
	margin-top: 2em;
	font-size: 2em;
}

h2 span {  
	opacity: 1;
	animation: fade-text;
	animation-duration: 1s;
}

h2::before{
	content: '';
	padding: 1em 4.5em;
	background-color:var(--color-background);
	animation: slide-text;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-delay: 10s;
	animation-iteration-count: 1;
	position: absolute;
}

h2 span:nth-of-type(3){
	margin-right: .4em;
}

@keyframes balancen {
  0% {
    transform: 
		translateY(.49em)
		translateX(.3em)
		rotate(-20deg);
  }

	15%{
		transform: 
		translateY(.49em)
		translateX(.20em)
		rotate(-30deg);
	}

  30% {
    transform: 
		translateY(.49em)
		translateX(.10em)
		rotate(-50deg);
  }

	40% {
    transform: 
		translateY(.51em) 
		translateX(0)
		rotate(-60deg);
  }

	50% {
    transform: 
		translateY(1.57em)
		translateX(-.6em)
		rotate(-90deg);
  }

	60% {
    transform: 
		translateY(1.57em)
		translateX(-.6em)
		rotate(-90deg);
  }

	70% {
    transform: 
		translateY(1.57em)
		translateX(-.6em)
		rotate(0deg);
  }

	75% {
    transform: 
		translateY(1.57em)
		translateX(-.43em)
		rotate(0deg);
  }

	100% {
    transform: 
		translateY(1.57em)
		translateX(-.43em)
		rotate(0deg);
  }
}

@keyframes balanceb {
  0% {
    transform: 
		translateY(.50em)
		translateX(.1em)
		rotate(-20deg);
  }

	15% {
    transform: 
		translateY(.50em)
		translateX(.1em)
		rotate(-25deg);
  }

	30% {
    transform: 
		translateY(.50em)
		translateX(.1em)
		rotate(-35deg);
  }

	40%{
    transform: 
		translateY(.50em)
		translateX(.2em)
		rotate(-50deg);
  }

	50%{
    transform: 
		translateY(.8em)
		rotate(-90deg);
  }

	60%{
    transform: 
		translateY(.8em)
		rotate(-90deg);
  }

	70%{
    transform: 
		translateY(.8em)
		rotate(0deg);
  }

	75%{
    transform: 
		translateY(.8em)
		rotate(0deg);
  }


	100% {
    transform: 
		translateY(.8em)
		rotate(0deg);
  }
}

@keyframes slide-text {
	0%{
		transform: translateX(0);
	}

	80%{
		transform: translateX(110%);
		opacity: 1;
	}

	100%{
		opacity: 0;
		transform: translateX(110%);
	}
	
}

@keyframes slide-background {
	0%{
		transform: translateX(0);
	}

	30%{
		transform: translateX(120%);
	}

	50%{
		transform: translateX(120%);
	}

	100%{
		transform: translateX(120%);
	}
	
}